<form method="post" id="jobPostForm" style="max-width: 400px; margin: 0 auto;">
    <label for="title">jobtitle:</label>
    <input type="text" id="jobtitle" name="jobtitle" placeholder="title" [(ngModel)]="jobDetails.title" required
        style="width: 100%; padding: 8px; box-sizing: border-box;">

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" placeholder="Location" [(ngModel)]="jobDetails.location" required
        style="width: 100%; padding: 8px; box-sizing: border-box;">

    <label for="qualification">Qualification:</label>
    <input type="text" id="qualification" name="qualification" placeholder="Qualification"
        [(ngModel)]="jobDetails.qualification" required style="width: 100%; padding: 8px; box-sizing: border-box;">

    <label for="skills">Skills:</label>
    <input type="text" id="skills" name="skills" placeholder="Skills" [(ngModel)]="jobDetails.skills" required
        style="width: 100%; padding: 8px; box-sizing: border-box;">

    <label for="company">company:</label>
    <input type="text" id="company" name="company" placeholder="company" [(ngModel)]="jobDetails.company" required
        style="width: 100%; padding: 8px; box-sizing: border-box;">


    <label for="jobDescription">Job Description:</label>
    <textarea id="jobDescription" name="jobDescription" placeholder="Job Description"
        [(ngModel)]="jobDetails.jobDescription" rows="4" required
        style="width: 100%; padding: 8px; box-sizing: border-box;"></textarea>

    <!--<button [routerLink]="[jobs-list]" type="submit" (click)="handleJobPost()" style="background-color: #e44915; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;" ></button>jobpost"</button>-->

    <button [routerLink]="['/jobs-list']" type="button" (click)="handleJobPost()"
        style="background-color: #9c5050; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">{{jobId? "update job" : "jobpost"}}</button>


</form>